<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>status</key>
		<integer>0</integer>
		<key>prompt</key>
		<string>What is the minimum number of coins it would take to make change for any amount of money (in cents) with coins worth 1, 5, 10, and 25 cents?</string>
		<key>inputs</key>
		<string>3 : 15 : 25 : 100</string>
		<key>outputs</key>
		<string>3 : 2 : 1 : 4</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>status</key>
		<integer>0</integer>
		<key>prompt</key>
		<string>Calculate the first input to the second input (exponents)</string>
		<key>inputs</key>
		<string>2,3 : 5,5</string>
		<key>outputs</key>
		<string>8 : 3125</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>status</key>
		<integer>0</integer>
		<key>prompt</key>
		<string>Submit 0 if the input is equal to 10, otherwise submit 1</string>
		<key>inputs</key>
		<string>1 : 10 : 3 : 10 : 15</string>
		<key>outputs</key>
		<string>1 : 0 : 1 : 0 : 1</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>status</key>
		<integer>0</integer>
		<key>prompt</key>
		<string>Submit the square of the input</string>
		<key>inputs</key>
		<string>0 : 2 : 5</string>
		<key>outputs</key>
		<string>0 : 4 : 25</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>status</key>
		<integer>0</integer>
		<key>prompt</key>
		<string>The answer is the input</string>
		<key>inputs</key>
		<string>1 : 2 : 30 : 400</string>
		<key>outputs</key>
		<string>1 : 2 : 30 : 400</string>
	</dict>
</array>
</plist>
